{% extends 'base.html' %}
{#{% load social_share %}#}
{% load static %}
{% load tz %}

{% block content %}
    {#    <!-- NEXT AND PREVIOUS ARTICLES -->#}
    {#        <div class="article-nav">#}
    {#            <ul>#}
    {#                {% if next_article %}#}
    {#                    <li>#}
    {#                        <a href="{% url 'Articles:article_detail' next_article.slug %}" class="next-article"#}
    {#                           title="پست بعدی">#}
    {#                            <i class="pe-7s-angle-right"></i>#}
    {#                            <div>#}
    {#                                <p>پست بعدی</p>#}
    {#                                <h6>{{ next_article.title|slice:45 }}...</h6>#}
    {#                            </div>#}
    {#                        </a>#}
    {#                    </li>#}
    {#                {% endif %}#}
    {##}
    {#                {% if prev_article %}#}
    {#                    <li>#}
    {#                        <a href="" class="previous-article" title="پست قبلی">#}
    {#                            <i class="pe-7s-angle-left"></i>#}
    {#                            <div>#}
    {#                                <p>پست قبلی</p>#}
    {#                                <h5>{{ prev_article.title|slice:45 }}...</h5>#}
    {#                            </div>#}
    {#                        </a>#}
    {#                    </li>#}
    {#                {% endif %}#}
    {#            </ul>#}
    {#        </div>#}
    <!-- MAIN -->
    <main>
        <!-- ARTICLE BLOG POST -->
        <section class="articles articles-blog-post">
            <article class="articles-blog-post">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-12">
                            <!-- TEXT ARTICLE -->
                            <div class="articles-header">
                                {% if articles.time_difference < 24 %}
                                    <time datetime="2016-10-11">{{ articles.time_difference }}ساعت پیش</time>
                                    <span class="articles-header-tag-blue">داغ</span>
                                {% else %}
                                    <time datetime="2016-10-11">{{ articles.created_time }}</time>
                                {% endif %}

                                <span class="articles-header-category"><a href="#" class="green" title="">
                        {% for category in articles.category.all %}
                            {{ category.title }}
                            {% if not forloop.last %},
                            {% endif %}
                        {% endfor %}
                    </a></span>
                            </div>

                            <div class="articles-content">
                                <h1 class="articles-content-blog-post-title"><a href="#"
                                                                                title="{{ articles.title }}">
                                    {{ articles.title }}</a></h1>
                                <p>
                                    {{ articles.body|safe }}
                                </p>
                            </div>
                        </div>
                        <!-- SHARE THIS BLOCK -->
                        {#                        <div class="col-lg-2 col-12">#}
                        {#                            <div class="articles-blog-post-share">#}
                        {#                                <h3>اشتراک گذاری</h3>#}
                        {#                                <div>#}
                        {#                                    <ul>#}
                        {#                                        {% post_to_telegram '{{ articles.title }}' %}#}
                        {#                                        {% post_to_linkedin 's' 's' %}#}
                        {#                                    </ul>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
            </article>
        </section>
        <!-- end ARTICLE BLOG POST -->
        <!-- ARTICLE BOTTOM INFO -->
        <div class="articles-info">
            <!-- ARTICLE BOTTOM INFO AUTHOR -->
            <section class="articles-info-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-12">
                            <div class="articles-footer">
                                <ul class="articles-footer-info">
                                    <li class="pr-3"><a title="" href="#comment" class="light-link"><i
                                            class="pe-7s-comment"></i> {{ articles.comments.count }} پاسخ</a>
                                    </li>
                                    <!-- LIKE CHECKING -->
                                    {% if not liked %}
                                        {{ like.count }}
                                        <a href="{% url 'Articles:like' articles.slug articles.id %}">
                                            <i class="light-link" style=""><i class="fa-regular fa-heart fa-xl"
                                                                              style="color: #626363;"></i></i></a>
                                    {% else %}
                                        {{ like.count }}
                                        <a href="{% url 'Articles:like' articles.slug articles.id %}"><i
                                                class=" light-link" style="">
                                            <i class="fa-solid fa-heart fa-xl" style="color: #626363;"></i>
                                        </i></a>
                                    {% endif %}
                                </ul>
                                <button class="btn btn-light-blue"><a title="Write a response" href="#comment">یک انتقاد
                                    سازنده
                                    بنویسید</a></button>
                            </div>

                            {% for user in admin_user %}
                                <div class="articles-author">
                                    <img src="{{ user.image.url }}" alt="" data-rjs="2">
                                    <div class="articles-author-right">
                                        <h4>{{ user.f_name }}{{ user.l_name }}</h4>
                                        <div class="social mb-3">
                                            <a href="{{ user.telegram }}" target="_blank" title="Twitter"><i
                                                    class="icon-social_twitter_circle"></i></a>
                                            <a href="{{ user.github }}" title="Github" target="_blank"><i
                                                    class="icon-social_github_circle"></i></a>
                                            <a href="{{ user.linkedin }}" title="LinkedIn" target="_blank"><i
                                                    class="icon-social_linkedin_circle"></i></a>
                                        </div>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان
                                            گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <!-- ARTICLE BOTTOM INFO COMMENTS -->
            <section class="articles-info-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-12">
                            <h1 class="articles-info-section-title">پاسخ <span
                                    class="italic">({{ articles.comments.count }})</span></h1>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-12">
                            <div class="comments">
                                <!-- WRITE NEW COMMENT -->
                                <section id="comment" class="contact two-column-inside white-box comment-small-margin">
                                    <div class="get-in-touch">
                                        <h2>نظر خودتونو بنویسید، خوشحال میشیم:)</h2>
                                        <form action="#" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="parent" id="parent" type="text" value="">
                                            <input class="col-12 form-control" type="text" placeholder="نام"
                                                   name="name" id="name">
                                            <input class="col-12 form-control" type="email" placeholder="ایمیل"
                                                   name="email" id="email">
                                            <textarea class=" col-12 form-control" rows="6" placeholder="نظر"
                                                      name="body" id="body" required=""></textarea>
                                            <button type="submit" class="btn mt-3"><i class="pe-7s-paper-plane"></i> ثبت
                                                نظر
                                            </button>
                                        </form>
                                    </div>
                                </section>
                                <!-- COMMENTS LIST -->
                                {% for com in articles.comments.all %}
                                    {% if com.parent == None %}
                                        <ol>
                                            <li>
                                                <div class="comment">
                                                    <img src="{% static "img/profile-picture6.png" %}"
                                                         alt="Profile Picture"
                                                         data-rjs="2">
                                                    <div class="comment-content">
                                                        <h3>{{ com.name }}</h3>
                                                        <time datetime="2009-11-13T20:00Z">{{ com.created_at }}</time>
                                                        <p>
                                                            {{ com.body }}
                                                        </p>
                                                        <div class="comment-content-footer">
                                                            <button class="btn btn-small"
                                                                    onclick="set_value({{ com.id }})">پاسخ
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <ol class="comment-response">
                                                    <li>
                                                        <div class="comment">
                                                            <img src="{% static "img/profile-picture6.png" %}"
                                                                 alt="Profile Picture"
                                                                 data-rjs="2">
                                                            <div class="comment-content">
                                                                <h3>{{ com.name }}</h3>
                                                                <time datetime="2009-11-13T20:00Z">{{ com.created_at }}
                                                                </time>
                                                                <p><span class="italic">پاسخ به {{ com.parent }} </span>
                                                                    {{ com.body }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <!-- WRITE RESPONSE -->
                                                </ol>
                                            </li>
                                        </ol>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- end ARTICLE BOTTOM INFO -->
    </main>
    <!-- end MAIN -->
    <script>
        function set_value(id) {
            document.getElementById('parent').value = id
            window.location.href = "#comment"
        }
    </script>
{% endblock %}