{% load static %}

<div class="col-lg-8 col-12">
    <section class="articles">
        <article class="blue-article">
            <div class="articles-header">
                <time datetime="2016-10-11">12 ساعت قبل</time>
                <span class="articles-header-tag-blue">داغ</span>
                <span class="articles-header-category"><a href="#" class="blue" title="">سی اس اس</a></span>
            </div>
            <div class="articles-content">
                <h1><a href="blog_post.html" title="">ده نکته ای که هیچکس در مورد جاوا اسکریپت به شما نمیگوید</a></h1>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای....
                </p>
            </div>
            <div class="articles-footer">
                <ul class="articles-footer-info">
                    <li><a href="#" class="light-link" title=""><i class="pe-7s-like"></i> 1221</a></li>
                    <li><a href="#" class="light-link" title=""><i class="pe-7s-comment"></i> 7 پاسخ</a>
                    </li>
                </ul>
                <a title="" class="btn" href="blog_post.html">ادامه مطلب</a>

            </div>
        </article>

        <article class="red-article">
            <div class="articles-header">
                <time datetime="2016-10-11">14 اردیبهشت 97</time>
                <span class="articles-header-category"><a href="#" class="red"
                                                          title="">جاوا اسکریپت</a></span>
            </div>
            <div class="articles-content">
                <h1><a href="blog_post.html" title="">تغییرات جاوا اسکریپت در سال 2016</a></h1>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای....

                </p>
            </div>
            <div class="articles-footer">
                <ul class="articles-footer-info">
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 پاسخ</a>
                    </li>
                </ul>
                <a title="" class="btn" href="blog_post.html">ادامه مطلب</a>
            </div>
        </article>

        <article class="yellow-article">
            <div class="articles-header">
                <time datetime="2016-10-11">12 ساعت قبل</time>
                <span class="articles-header-category"><a title="" href="#" class="yellow">سی اس اس</a></span>
            </div>
            <div class="articles-content">
                <h1><a title="" href="#">پیش به سوی یادگیری جاوا اسکریپت 2016؟</a></h1>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای....

                </p>
            </div>
            <div class="articles-footer">
                <ul class="articles-footer-info">
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 پاسخ</a>
                    </li>
                </ul>
                <a title="" class="btn" href="blog_post.html">ادامه مطلب</a>
            </div>
        </article>

        <article>
            <div class="articles-header">
                <time datetime="2016-10-11">12 ساعت قبل</time>
                <span class="articles-header-category"><a title="" href="#" class="grey">دسته بندی نشده</a></span>
            </div>
            <div class="articles-content">
                <h1><a title="" href="blog_post.html">از جاوا اسکریپت 2016 چه چیزی میخواهیم؟</a></h1>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای....

                </p>
            </div>
            <div class="articles-footer">
                <ul class="articles-footer-info">
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                    <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 پاسخ</a>
                    </li>
                </ul>
                <a title="" class="btn" href="blog_post.html">ادامه مطلب</a>
            </div>
        </article>

        <!-- PAGINATION -->
        {% include 'includes/pagination.html' %}

    </section>
</div>