{% load humanize %}
{% load static %}
{% load tz %}
<div class="col-lg-8 col-12">
    <section class="articles">
        {% for article in articles %}
            <article class="{{ article.color }}">
                <div class="articles-header">
                    {% if article.time_difference < 24 %}
                        <time datetime="2016-10-11">{{ article.time_difference|intword }} ساعت پیش </time>
                        <span class="articles-header-tag-blue">داغ</span>
                    {% else %}
                        <time datetime="1401-12-2">{{ article.jalali }}</time>
                    {% endif %}

                    <span class="articles-header-category">
                        {% for category in article.category.all %}
                            <a href="{% url 'index:article_list' category.id %}" class="blue" title="">
                            {{ category.title }}
                            </a>
                            {% if not forloop.last %},
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <div class="articles-content">
                    <h1><a href="{{ article.get_absolute_url }}" title="{{ article.title }}">{{ article.title }}</a>
                    </h1>
                    <p>
                        {{ article.body|slice:250|safe }}
                    </p>
                </div>
                <div class="articles-footer">
                    <ul class="articles-footer-info">

                        <li><a href="{% url 'index:like' article.slug article.id %}" class="light-link  pl-2"
                               title="">
                            <i class="pe-7s-like"></i>{{ article.likes.count }}</a>
                        </li>
                        <li><a href="#" class="light-link" title=""><i
                                class="pe-7s-comment"></i> {{ article.c }}</a>
                        </li>
                    </ul>
                    <a title="" class="btn" href="{{ article.get_absolute_url }}">ادامه مطلب</a>

                </div>
            </article>
        {% endfor %}
        <!-- PAGINATION -->
        {% include 'includes/pagination.html' %}

    </section>
</div>