{% load static %}

<div class="aside-blocks col-lg-4 col-12">
    <aside class="author">
        <img src="{% static 'img/profile-picture.png' %}" alt="" data-rjs="2">
        <h2>محمد یاری</h2>
        <span class="author-info">توسعه دهنده وب</span>
        <span class="author-info">شرکت مایکروسافت</span>
        <div class="social">
            <a href="#" title="Twitter"><i class="icon-social_twitter_circle"></i></a>
            <a href="#" title="Github"><i class="icon-social_github_circle"></i></a>
            <a href="#" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a>
        </div>
        <ul class="author-nav">
            <li><a href="#" title=""><i class="pe-7s-bookmarks"></i> دانلود روزمه من</a></li>
            <li><a href="#" title=""><i class="pe-7s-paper-plane"></i> ارسال نظر</a></li>
        </ul>
    </aside>

    <aside class="categories">
        <h2 class="aside-title">دسته بندی ها</h2>
        <ul>
            <li class="nav-elipse-blue"><a href="#" title="دسته بندی سی اس اس">سی اس اس</a></li>
            <li class="nav-elipse-red"><a href="#" title="دسته بندی اچ تی ام ال">اچ تی ام ال</a></li>
            <li class="nav-elipse-yellow"><a href="#" title="دسته بندی جاوا اسکریپت">جاوا اسکریپت</a></li>
            <li class="nav-elipse-green"><a href="#" title="دسته بندی گرافیک">گرافیک</a></li>
            <li><a href="#" title="دسته بندی نشده">دسته بندی نشده</a></li>
        </ul>
    </aside>

    <aside class="advertisement">
        <a href="#"><img src="{% static 'img/advertisement.jpg' %}" alt="Advertisement" data-rjs="2"></a>
    </aside>

    <aside class="last-project">
        <h2 class="aside-title">آخرین پروژه ها</h2>
        <div class="last-project-one">
            <h3 class="h4"><a href="#">مایکروسافت تایپ اسکریپت</a></h3>
            <time datetime="2016-12-31T23:59:59Z">14 اردیبهشت 97</time>
            <p class="font-primary">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                گرافیک است. چاپگرها و متون بلکه روزنامه و مجله... </p>
            <a href="#" title="Watch it" class="btn btn-small">تماشا کن</a>
        </div>
    </aside>

    <aside class="tags">
        <h2 class="aside-title">برچسب ها</h2>
        <div class="tags-content">
            <span class="tag tag-pill tag-default"><a href="#">گرافیک</a></span>
            <span class="tag tag-pill tag-default"><a href="#">آنگولار2</a></span>
            <span class="tag tag-pill tag-default"><a href="#">گرافیک</a></span>
            <span class="tag tag-pill tag-default"><a href="#">ری اکت</a></span>
            <span class="tag tag-pill tag-default"><a href="#">آی تی</a></span>
            <span class="tag tag-pill tag-default"><a href="#">علمی</a></span>
        </div>
    </aside>

</div>