{% load static %}


<section class="banners">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="بالا بردن مهارت در سی اس اس">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">یادگیری سی اس اس</h1>
                            <span class="category-tag category-tag-white">سی اس اس</span>
                            <time datetime="2016-01-18" class="">14 اردیبهشت 97</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="{% static "img/photo1.jpg" %}" alt="عکس پست" data-rjs="2">
                </div>
            </div>

            <div class="col-md-6 col-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="توسعه و پیشرفت گوگل">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">توسعه و پیشرفت گوگل</h1>
                            <span class="category-tag category-tag-white">گرافیک</span>
                            <time datetime="2016-01-18" class="">14 اردیبهشت 97</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="{% static "img/photo2.jpg" %}" alt="عکس پست" data-rjs="2">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="آنگولار دو و جاوا اسکریپت">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">آنگولار دو و جاوا اسکریپت</h1>
                            <span class="category-tag category-tag-white">جاوا اسکریپت</span>
                            <time datetime="2016-03-01" class="">14 اردیبهشت 97</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="{% static "img/photo3.jpg" %}" alt="عکس پست" data-rjs="2">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="طراحی سی اس اس نهایی">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">طراحی سی اس اس نهایی</h1>
                            <span class="category-tag category-tag-white">اچ تی ام ال</span>
                            <time datetime="2016-01-18" class="">14 اردیبهشت 97</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="{% static "img/photo4.jpg" %}" alt="عکس پست" data-rjs="2">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="ساختن فریموورک سی اس اس">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">ساختن فریموورک سی اس اس</h1>
                            <span class="category-tag category-tag-white">سی اس اس</span>
                            <time datetime="2016-01-18" class="">14 اردیبهشت 97</time>
                        </div>
                    </a>
                    <img class="img-fluid" src="{% static "img/photo5.jpg" %}" alt="عکس پست" data-rjs="2">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end BANNER POSTS -->