{% load static %}

<section class="banners">
    <div class="container">
        <div class="row">
            {{ header_title.title }}
            {% if article_count == 1 %}
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class=""></time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>

            {% elif article_count == 2 %}
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.1.get_absolute_url }}" title="{{ all_articles.1.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.1.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.1.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.1.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.1.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>

            {% elif article_count == 3 %}
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.1.get_absolute_url }}" title="{{ all_articles.1.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.1.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.1.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.1.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.1.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.2.get_absolute_url }}" title="{{ all_articles.2.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.2.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.2.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.2.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.2.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>

            {% elif article_count == 4 %}
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.1.get_absolute_url }}" title="{{ all_articles.1.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.1.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.1.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.1.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.1.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.2.get_absolute_url }}" title="{{ all_articles.2.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.2.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.2.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.2.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.2.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.3.get_absolute_url }}" title="{{ all_articles.3.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.3.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.3.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.3.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.3.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.3.get_absolute_url }}" title="{{ all_articles.3.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.3.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.3.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.3.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.3.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>

            {% elif article_count == 5 %}
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.0.get_absolute_url }}" title="{{ all_articles.0.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.0.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.0.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.0.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.0.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.1.get_absolute_url }}" title="{{ all_articles.1.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.1.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.1.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.1.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.1.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.2.get_absolute_url }}" title="{{ all_articles.2.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.2.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.2.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.2.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.2.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.3.get_absolute_url }}" title="{{ all_articles.3.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.3.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.3.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.3.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.3.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="banner-wrapper">
                        <a href="{{ all_articles.4.get_absolute_url }}" title="{{ all_articles.4.title }}">
                            <div class="banner-wrapper-content">
                                <h1 class="h2">{{ all_articles.4.title }}</h1>
                                <span class="category-tag category-tag-white">
                                        {% for category in all_articles.4.category.all %}
                                            {{ category.title }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}
                                </span>
                                <time datetime="2016-01-18" class="">{{ all_articles.4.jalali }}</time>
                            </div>
                        </a>
                        <img class="img-fluid" src="{{ all_articles.4.image.url }}" alt="عکس پست" data-rjs="2">
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</section>
<!-- end BANNER POSTS -->