{% load static %}

<footer style="padding-top: 5px">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="pt-4">
                    <div class="">
                        <img src="{% static 'img/logo-grey.png' %}" alt="لوگو" class="footer-section-title-img pb-3" data-rjs="2">
                        <div class="">
                            <p class="font-primary footer-section-content-about">
                                {% for text in footer_description %}
                                    {{ text|safe }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="footer-section pr-3">
                    <h3 class="footer-section-newsletter bg-light rounded">خبرنامه الکترونیکی</h3>
                    <div class="footer-section-content">
                       <p class="font-primary ">اگه میخوای از مطالب جدید اینجا مطلع بشی ایمیلتو وارد کن:</p>
                       <form class="d-flex" action="" method="post">
                          <input type="text" class="form-control w-75" placeholder="ایمیل خود را تایپ کنید">
                          <a href="#" title="Watch it" class="btn btn-small mr-5">ارسال</a>
                       </form>
                    </div>
                 </div>
        </div>
    </div>
    <!-- COPYRIGHT -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <ul>
                        <li><a href="{{ user.instagram }}" target="_blank" title="Instagram"><i class="icon-social_instagram_circle"></i></a></li>
                        <li><a href="{{ user.github }}" target="_blank" title="Github"><i class="icon-social_github_circle"></i></a></li>
                        <li><a href="{{ user.linkedin }}" target="_blank" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a></li>
                    </ul>
                    <p class="font-primary">&copy; برنامه نویسی شده توسط <a
                            href="{% url "index:about_me" %}" title="" class="black"
                            style="font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif">
                        M9rsad
                    </a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end COPYRIHT -->
</footer>