{% load static %}


<header class="navbar-fixed-top">
    <div class="container">
        <div class="row">
            <!-- HEADER TOP -->
            <div class="col-lg-12">
                <div class="header-top">
                    <div class="header-top-logo">
                        <a href="index.html" title="لوگو"><img src="{% static "img/logo.png" %}" alt="لوگو"
                                                               data-rjs="2"></a>
                    </div>
                    <div class="header-top-text">
                        <p>
                            {% for text in header_title %}
                                {{ text.title|safe }}
                            {% endfor %}
                        </p>
                    </div>
                    <nav class="header-top-nav">
                        <ul>
                            <li class="header-top-nav-search">
                                <a href="#" class="light-link" title="جستجو کردن"><i class="pe-7s-search"></i></a>
                                <form action="{% url 'index:search' %}" method="get">
                                    <input type="text" class="form-control" name="q" placeholder="جستجو کردن...">
                                    <button href="" type="submit"><i class="pe-7s-search"></i></button>
                                </form>
                            </li>
                            <li>
                                <a href="#" class="light-link" title="منو">
                                    <div id="menu-animate-icon" class="header-top-nav-menu-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end HEADER TOP -->
            <!-- HEADER NAVIGATION -->
            <div class="col-lg-12">
                <nav class="header-nav">
                    <ul>
                        <li><a href="{% url 'index:index' %}" title="صفحه اصلی">صفحه اصلی</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" title="مقالات وبلاگ">مقالات وبلاگ</a>
                            <ul class="dropdown-menu">
                                {% for category in all_categories %}
                                    <li class="nav-elipse-blue"><a href="{% url 'index:article_list' category.id %}"
                                                                   title="{{ category.title }}">
                                        {{ category.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{% url 'index:about_me' %}" title="درباره من">درباره من</a></li>
{#                        <li><a href="#" title="پروژه های من">پروژه های من</a></li>#}
                        <li><a href="{% url 'index:contact_us' %}" title="ارتباط با من">ارتباط با من</a></li>
                        <li></li>
                        <a class="float-left" style="color: #ff0500; font-size: x-small">بزودی</a>
                        <li class="buyproducts-link"><a href="" title="خرید محصولات">خرید محصولات</a></li>


                    </ul>
                </nav>
            </div>
        </div>
        <!-- end HEADER NAVIGATION -->
    </div>
</header>
<!-- end HEADER -->