{% load static %}
<!doctype html>
<html lang="fa-IR">

{% include 'includes/head_refrences.html' %}
<body>

<!-- HEADER -->
{% include "includes/header.html" %}
     <!-- MOBILE NAVIGATION -->
     <nav class="mobile-nav header-nav">
        <div class="container">
           <div class="row">
              <div class="col-lg-12">
                 <!-- Auto Copy Header Navigation -->
              </div>
           </div>
        </div>
     </nav>
     <!-- end MOBILE NAVIGATION -->

<!-- content -->
{% block content %}
{% endblock %}

<!-- FOOTER -->
{% include 'includes/footer.html' %}
     <!-- end FOOTER -->

<!-- EXTERNAL JAVASCRIPT -->
{% include 'includes/js-refrences.html' %}
</body>

</html>